.loginContainer,
.signupContainer {
  margin-top: 2rem;
  max-width: 400px !important;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media(max-width:600px){
  .loginContainer,.signupContainer{
    height: 100%;
    overflow-y: scroll !important;
    margin-top: 0;
  }
}
.inputField {
  border: 2px solid rgba(153, 27, 27) !important;
  width: 100% !important;
  background-color: whitesmoke !important;
}

.loginBtnContainer {
  vertical-align: middle;
}
.registerLink {
  justify-self: flex-end;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: rgba(153, 27, 27);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.3rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}

.fileUpload {
  float: right;
  background-color: rgba(153, 27, 27);
  border-radius: 0;
  overflow: hidden;
}

.infoText {
  font-size: 0.8rem;
  width: 150px;
  display: inline-block;
}

.text-header {
  font: 800;
  font-size: 3rem;
}

.header {
  text-align: center;
}
